form{
  border: 1px solid var(--color-grey-2);
  border-radius: 4px;
  width: 100%;
  max-width: 363px;
  padding: 38px 24.5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form__description{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__description .description{
  font-size: 12px;
  font-weight: 400;
  font-family: var(--font-inter);
  color: var(--color-grey-4);
  margin-bottom: 12px;
}

.form__description input{
  height: 53px;
  padding-left: 16px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-inter);
  line-height: 26px;
  color: var(--color-grey-3);
  background-color: var(--color-grey-1);
  margin-bottom: 4.5px;
}

.form__description input:focus{
  outline: 2px solid var(--color-grey-4);
  border: none;
}

.form__description .example{
  font-size: 12px;
  font-weight: 400;
  font-family: var(--font-inter);
  color: var(--color-grey-3);
  
}

.form__values{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 17.7px;
  margin-bottom: 19px;
  gap: 36px;
}

.values, .types{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__values label{
  font-size: 12px;
  font-weight: 400;
  font-family: var(--font-inter);
  color: var(--color-grey-4);
  margin-bottom: 9px;
}

.values section, .types section{
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 8px;
  background-color: var(--color-grey-1);
  border: none;
  outline: none;
}

.values section:focus, .types section:focus{
  outline: 1.2px solid var(--color-grey-4);
  border: none;
}

.values input, .types select{
  font-family: var(--font-inter);
  height: 48px;
  background-color: transparent;
  border: none;
  padding-left: 16px;
  color: var(--color-grey-3);
  border-radius: 8px;
}

.values input{
  width: 100%;
  max-width: 128px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  appearance: none;
}

/* https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.values input:focus, .types select:focus{
  color: var(--color-grey-4);
}

.types select{
  width: 100%;
  max-width: 150px;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  appearance: none;
  background: url('../../img/ANGLE-DOWN.svg') no-repeat right;
  background-position: right 16px bottom 50%;
}

.values span{
  position: absolute;
  right: 15px;
}

.values span{
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  color: var(--color-grey-3);
}

form button{
  max-width: 314px;
  height: 48px;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  background-color: var(--color-primary);
  cursor: pointer;
}

form button:hover{
  background-color: var(--color-primary-2);
}