.card-list{
  width: 100%;
  margin-top: 14px;
  overflow: scroll;
  overflow-x: hidden;
  height: 50%;
  max-height: 700px;
}

.card-list li:last-child{
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .card-list::-webkit-scrollbar{
    display: none;
  }
  
}