.main{
  max-width: var(--max-width-header-main);
  margin: 39px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main__filters-list{
  width: 100%;
  max-width: 363px;
  margin-top: 16px;
}

@media screen and (min-width: 1024px) {
  .main{
    flex-direction: row;
    align-items: flex-start;
  }

  .main__filters-list{
    max-width: 560px;
    margin-top: 0;
  }
}
