.main{
  width: 100%;
  max-width: var(--max-width-header-main);
  padding: 39px 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main__form-total-money{
  display: flex;
  flex-direction: column;
  width: 100%;  
  max-width: 600px;
  align-items: center;
}

.main__filters-list{
  width: 100%;
  max-width: 600px;
  /* max-width: 363px; */
  margin-top: 16px;
  /* align-self: flex-start; */
}

@media screen and (min-width: 768px) {
  .main{
    flex-direction: row;
    align-items: flex-start;
    /* padding: 39px 15px 0; */
    margin: 0 auto;
    gap: 59px;
  }

  .main__form-total-money{
    max-width: 363px;
  }

  .main__filters-list{
    max-width: 560px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1010px){
  .main{
    padding: 39px 0 0;
  }

}
