.card{
  width: 100%;
  height: 87px;
  border-radius: 4px;
  background-color: var(--color-grey-1);
  display: flex;
  margin-bottom: 32px;
}

.card:hover{
  box-shadow: 0px 4px 42px -12px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
}

.entrada, .despesa{
  width: 4px;
  height: 87px;
  border-radius: 4px 0px 0px 4px;
}

.entrada{
  background-color: var(--color-secondary);
}

.despesa{
  background-color: var(--color-grey-2);
}

.card__info{
  width: 100%;
  padding-left: 14px;
  padding-right: 40px;
  height: 39px;
  margin-top: 8px;
}

.info__data{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 30px;
  margin-bottom: 15px;
}

.data__description{
  min-width: 100px;
  margin-right: 15px;
  max-width: 180px;
  font-family: var(--font-nunito);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: var(--color-grey-4);
}

.info__type, .data__cost{
  font-family: var(--font-nunito);
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}

.data__cost{
  padding-right: 10%;
  align-self: flex-end;
  /* padding-top: 10px; */
  /* height: 22px; */
  color: var(--color-grey-4);
}

.data__trash-container{
  position: absolute;
  right: -25px;
  top: 10px;
  width: 22px;
  height: 22px;
  background-color: var(--color-grey-2);
  border-radius: 2.46154px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.data__trash-container:hover{
  background-color: var(--color-grey-3);
}

.data__trash-container:hover svg path{
  fill: var(--color-grey-1);
  pointer-events: none;
}

.info__type{
  height: 27px;
  color: var(--color-grey-3);
}