.totalMoney{
  width: 100%;
  max-width: 363px;
  height: 96px;
  border-radius: 4px;
  border: 1px solid var(--color-grey-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.totalMoney__text{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text__bold{
  font-family: var(--font-nunito);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: var(--color-grey-4);
}

.text__detail{
  font-family: var(--font-nunito);
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: var(--color-grey-3);
}

.totalMoney__number{
  font-family: var(--font-nunito);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: var(--color-primary);
}